.central {
  position: absolute;
  height: 97vh;
  width: 80vw;
  top: 1.5vh;
  left: 10vw;
  background-color: #875692;
  border-radius: 1vw;
  box-shadow: -1vh 0vh 20vh black;
  align-items: center;
  
}

h1 {
  text-align: center;
}

input {
  position: relative;
  width: 70%;
  left: 15%;
  border: 2px solid black;
  font-size: calc(3vh);
}

p {
  text-align: center;
}